<b>This notebook scraps a data (Toronto neighborhoods) from Wikipedia page and converts that into nice and clean pandas dataframe.</b>

<i> (1) Import libraries</i>

In [1]:
# import libraries
 
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup

<i> (2) Scrape the data</i>

In [2]:
#  scrape the data from the wiki page to a table

res = requests.get("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M")
soup = BeautifulSoup(res.content,'lxml')
table = soup.find('table')

<i> (3) Clean the data</i>

In [3]:
# clean the table

Postcode      = []
Borough       = []
Neighborhood = []

for i in table.find_all('tr'):
    
    x = 1
    Postcode_      = -1
    Borough_       = -1
    Neighborhood_ = -1
    
    for j in i.find_all('td'):
        if x == 1: 
            Postcode_ = j.text
        if x == 2: 
            Borough_ = j.text
            tag_a_Borough = j.find('a')
            
        if x == 3: 
            Neighborhood_ = str(j.text).strip()
            tag_a_Neighborhood = j.find('a')
            
        x +=1
        
        if (Postcode_ == 'Not assigned' or Borough_ == 'Not assigned' or Neighborhood_ == 'Not assigned'):
            
            continue
        
    try:
        if ((tag_a_Borough is None) or (tag_a_Neighborhood is None)):
            
            continue
           
    except:
        
        pass
    
    if(Postcode_ == -1 or Borough_ == -1 or Neighborhood_ == -1):
        
        continue

    Postcode.append(Postcode_)
    Borough.append(Borough_)
    Neighborhood.append(Neighborhood_)
    
raw_boroughs_table = {'PostalCode':Postcode, 'Borough':Borough, 'Neighborhood':Neighborhood}

<i> (4) Wrap the data to a dataframe</i>

In [4]:
# create a dataframe from the table

df = pd.DataFrame.from_dict(raw_boroughs_table)
df.to_csv('toronto_part1.csv')
df.head()

  PostalCode           Borough      Neighborhood
0        M3A        North York         Parkwoods
1        M4A        North York  Victoria Village
2        M5A  Downtown Toronto      Harbourfront
3        M6A        North York  Lawrence Heights
4        M6A        North York    Lawrence Manor
5        M7A  Downtown Toronto      Queen's Park
6        M1B       Scarborough             Rouge
7        M1B       Scarborough           Malvern
8        M4B         East York  Woodbine Gardens
9        M4B         East York     Parkview Hill

<i> (5) Group duplicate Neighborhoods</i>

In [21]:
# group duplicate neighborhoods

df.sort_values(['PostalCode'])

duplics=df['PostalCode'].duplicated()

df['Duplic'] = duplics

i=len(df['PostalCode'])

while i>1:
    i=i-1
    if df['Duplic'].values[i]:
        temp_str = df['Neighborhood'].values[i-1] + ", "+df['Neighborhood'].values[i]
        df['Neighborhood'].values[i-1] = temp_str
        df.drop(i, inplace = True)
        
df.reset_index(drop = True, inplace = True)
df = df.drop('Duplic', 1)

<i> (6) Describe the output dataframe</i>

In [22]:
df.head()

  PostalCode           Borough                      Neighborhood
0        M3A        North York                         Parkwoods
1        M4A        North York                  Victoria Village
2        M5A  Downtown Toronto                      Harbourfront
3        M6A        North York  Lawrence Heights, Lawrence Manor
4        M7A  Downtown Toronto                      Queen's Park

In [23]:
df.shape

(77, 3)